:root {
    --dark: #011A1Eff;
    --light: #DABEA1ff;
    --accent1: #628A8Bff;
    --accentDark: #0F3136ff;
    --accentDark2: rgba(15, 49, 54, 0.562);
    --accent2: #45757Fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--light);
}

/*Header and Nav Styles */

header {
    background-color: var(--accent1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

header h1 {
    font-family: 'Mr Dafoe';
    font-weight: 200;
    font-size: 6rem;
    color: var(--dark);
    margin-bottom: -25px;
}

header .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.nav a {
    display: block;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    min-width: 100px;
    font-size: 1.3rem;
    background-color: var(--accentDark2);
    color: var(--light);
    margin: 3%;
    border-radius: 15%;
    padding: 3%;
    text-decoration: none;
}

.nav a:hover {
    background-color: var(--accentDark);
}

/*Products Styles*/
.content {
    padding-left: 200px;
    padding-right: 200px;
}

.content h1 {
    text-align: center;
    margin: 10px;
}

.products {
    display: grid;
    grid-template-areas:
        "main main spool spool"
        "worms fish fish cold"
    ;
    justify-content: center;
    grid-gap: 25px;
    margin: 10px;
}

article p {
    text-wrap: wrap;
}

.content .main {
    grid-area: main;
}

.content .spool {
    grid-area: spool;

}

.content .worm {
    grid-area: worm;
}

.content .fish {
    grid-area: fish;
}

.content .cold {
    grid-area: cold;
}

.products h2 {
    text-align: center;
    margin-bottom: 10px;

}

.products .section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products .section .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

.products .section .items .title {
    grid-column: 1/3;
    text-align: center;
    margin: 5px;
    border: 3px var(--accent2) solid;
    border-radius: 5%;
    width: 100%;
}

.name {
    text-align: center;
}

.contact-links {
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-links .contact-section {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    justify-content: center;
    align-items: center;

}

.contact-links h2 {
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 25px;
}

.contact-links p {
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 25px;
}

.contact-links .icon {
    max-height: 80px;
}

.contact-links .image {
    border-radius: 15px;
    border: solid 3px var(--accentDark);
    box-shadow: var(--accentDark);
    max-width: 500px;
    object-fit: cover;

}

footer {
    text-align: center;
    color: var(--light);
    background-color: var(--accentDark);
}

@media only screen and (max-width: 600px) {
    .products {
        grid-template-areas:
            "main main main"
            "spool spool spool"
            "worms fish cold";
    }

    .contact-links .image {
        max-width: 250px;
        object-fit: cover;
    }

}

@media only screen and (max-width: 400px) {
    .products {
        grid-template-areas:
            "main" "spool" "worms" "fish" "cold";
    }

    .contact-links {
        flex-direction: column;
        justify-content: center;
    }

    .contact-section {
        flex-direction: row;
        max-width: 100%;
        padding: 1%;
    }

    .contact-links .image {
        max-width: 100%;
    }
}